.bg[data-v-4ecc4498]{position:absolute;left:50%;top:-93.333333vw;transform:translate(-50%);width:213.333333vw;height:133.333333vw;border-radius:50%;background-image:linear-gradient(239deg,#3a6ff3,#50c7fb);z-index:-99}
